Ej5APP/src/wsdl/localhost_8080/contadorLetras.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. --><xs:schema xmlns:tns="http://ej5.tp7arquitecturasw.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ej5.tp7arquitecturasw.mycompany.com/">

<xs:element name="ingresarLetra" type="tns:ingresarLetra"/>

<xs:element name="ingresarLetraResponse" type="tns:ingresarLetraResponse"/>

<xs:element name="setK" type="tns:setK"/>

<xs:element name="setKResponse" type="tns:setKResponse"/>

<xs:complexType name="ingresarLetra">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarLetraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setK">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setKResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>